/* to fix "footer" to bottom of page: body margin-botton equal to footer height */
/*
body {
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
} */