<br>

<div class="card text-center border-dark" style="max-width: 70rem;">
  <h4 class="card-header "> Borrado de Obra </h4>

  <div class="card-body text-dark">
    <h5 class="card-title">¿Estás seguro de que deseas eliminar esta obra?</h5>
    <p class="card-text"> * Nombre:  {{ obra.nombreobra }} </p>
    <div class="form-group">
        <input type="submit" class="btn btn-danger" (click)="deleteObra()" value="Yes">
        <button (click)="goBack()" type="button" class="btn btn-default">No</button>
    </div>
  </div>
</div>
