<div class="header">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- 'fixed-top' to keep navbar on top -->
    <i class="fa fa-building fa-2x"></i>
    <a class="navbar-brand" routerLink="/" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Gestion promotores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto"> <!-- mr-auto, so that "Search" navbar goes to the right -->
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-home fa-lg"></i>
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" 
            routerLink="/promotores" 
            routerLinkActive="active">
            <i class="fa fa-user fa-lg"></i>
            Promotores</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" 
              routerLink="/obras" 
              routerLinkActive="active">
              <i class="fa fa-wrench fa-lg"></i>
              Obras</a>
        </li>
        <li *ngIf="isLoggedIn && isAdmin" class="nav-item">
            <a class="nav-link" 
              routerLink="/users" 
              routerLinkActive="active">
              <i class="fa fa-user-plus fa-lg"></i>
              Administracion</a>
        </li>
      </ul>

   
      <!-- navbar elements place on the right -->
      <ul class="navbar-nav">
      
        <li *ngIf="!isLoggedIn" class="nav-item nav-text">
          
            <a class="nav-link"
              [routerLink]="['/users/login']">
              Login
            </a>

            <!--
            or
            <a class="nav-link"
              [routerLink]="['/users/create']">
              Registro
            </a>
            -->
        </li>

        <!-- <i class="fa fa-user-circle fa-lg"></i> -->
        <li *ngIf="isLoggedIn" class="row nav-item nav-text align-middle">

            <img id="navBarLoginImage" class="rounded-circle" 
              src="../../../assets/images/user-icon04.png">
            
            <a class="nav-link"
            [routerLink]="['/users/view', currentUsername]">
            {{currentUsername}}
            </a>
        </li>

         <!-- <li *ngIf="authenticated" class="nav-item nav-text"> -->
        <li *ngIf="isLoggedIn" class="nav-item nav-text">
            <a class="nav-link"
              (click)="signout()">
              Cerrar sesión
            </a>
        </li>

        <!-- Search input in nav bar, maybe for the future -->
         <!--  (click)="storeNavData()" -->
        <!--
        <li *ngIf="isLoggedIn" class="nav-item">
            <input class="form-control"
                  [ngModelOptions]="{standalone:true}"
                  [(ngModel)]="filterInput"
                  (input)="onSearchChange($event.target.value)"
                
                   type="search" placeholder="Search" aria-label="Search">
        </li>
       -->

      </ul>

    </div>
  </nav>

</div>


<div class="main container">
    <router-outlet></router-outlet>

    <!-- router-outlet DOES NOT allow to send data, we have to use a SERVICE -->
    <!-- <router-outlet [navBarSearchText]="filterInput"></router-outlet> -->

</div>

<div class="">  <!-- Use container class to align width with navbar -->
    <div class="footer text-center">
        <p><i class="fa fa-heart"></i> Gestión de promotores y obras </p>
        Copyright &copy; 2018
    </div>
</div>

<!--
<div class="footer container text-center">
    <br>
    <p><i class="fa fa-heart"></i> Gestión de promotores y obras </p>
    Copyright &copy; 2018
</div>
-->