<!--The content below is only a placeholder and can be replaced.-->
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->

<!-- fijo arriba la barra de navegacion -->
<!-- Si el navegador no esta maximizado la barra navegacion se muestra como un boton que despliega opciones-->
<!--
<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
    <div class="container">
      <div class="navbar-header">
      
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Gestion promotores</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">
             <span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a ng-href="#">Promotores</a></li>
          <li><a ng-href="#">Promociones</a></li>
          <li><a ng-href="#">
            <span class="glyphicon glyphicon-cog"></span> Administracion</a></li>
        </ul>

        <p class="navbar-right navbar-text">
           <a href="#">Login</a> or <a href="#">Registro</a></p>
        <p class="navbar-right navbar-text">
             <a href="#" ng-click="signout()">Cerrar sesión</a></p>
        <p class="navbar-right navbar-text">
             <i class="glyphicon glyphicon-user"></i>
             <a href="#">{{current_user}}</a></p>
      </div>
    </div>
  </div>
</div>
-->

<div class="header container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <i class="fa fa-building fa-2x"></i>
    <a class="navbar-brand" routerLink="/" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Gestion promotores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto"> <!-- mr-auto, so that "Search" navbar goes to the right -->
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-home fa-lg"></i>
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/promotores" 
            routerLinkActive="active">
            <i class="fa fa-user fa-lg"></i>
            Promotores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
              routerLink="/obras" 
              routerLinkActive="active">
              <i class="fa fa-wrench fa-lg"></i>
              Obras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
              routerLink="/promotores" 
              routerLinkActive="active">
              <i class="fa fa-user-plus fa-lg"></i>
              Administracion</a>
        </li>
      </ul>


      <!--  (click)="storeNavData()" -->
      
      <ul class="navbar-nav">
        <li class="nav-item">
            <input class="form-control"
                  [ngModelOptions]="{standalone:true}"
                  [(ngModel)]="filterInput"
                  (input)="onSearchChange($event.target.value)"
                
                   type="search" placeholder="Search" aria-label="Search">
        </li>
      </ul>
    </div>
  </nav>

</div>


<div class="main container">
    <router-outlet></router-outlet>

    <!-- router-outlet DOES NOT allow to send data, we have to use a SERVICE -->
    <!-- <router-outlet [navBarSearchText]="filterInput"></router-outlet> -->

</div>


<footer>
    <div class="footer container text-center">
        <p><i class="fa fa-heart"></i> Gestión de promotores y obras </p>
        Copyright &copy; 2018
      </div>
</footer>

<!--
<div class="footer container text-center">
    <br>
    <p><i class="fa fa-heart"></i> Gestión de promotores y obras </p>
    Copyright &copy; 2018
</div>
-->