<p>
  home works!
</p>

<div class="jumbotron">
  <h1>Promotores y Obras</h1>
  <p class="lead">
    <img src="../assets/images/obras-front01.jpg" class="img-responsive img-fluid">
    <br>
  </p>
  <br>
  <!--
  <div class="mainbuttons">
    <a ng-hide="authenticated" class="btn btn-lg btn-default" ng-href="#/user/login">Inicia sesion
      <span class="glyphicon glyphicon-log-in"></span>
    </a>
    <a ng-hide="authenticated" class="btn btn-lg btn-success" ng-href="#/user/create">Registrate!
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
-->
</div>


<div class="row marketing text-center">
  <h2>Bienvenido a la aplicación de Gestión de Promotores y sus obras.</h2>
</div>

<div class="hero-unit text-center">
  <h1>AVISO</h1>
  <p>Recuerde que para poder modificar datos de promotores y obras ha de estar registrado en la aplicación.</p>
</div>