<br> 

<div class="jumbotron text-center">
  <h1>Promotores y Obras (Home)</h1>
  <p class="lead">
    <img src="../assets/images/obras-front01.jpg" class="img-responsive img-fluid rounded">
    <br>
  </p>
  
  <div class="mainbuttons">
    <a *ngIf="!isLoggedIn"
      class="btn btn-lg btn-outline-primary" 
      [routerLink]="['/users/login']">
      Iniciar sesion
      <span class="fa fa-sign-in fa-lg"></span>
    </a>
    <a *ngIf="!isLoggedIn"
      class="btn btn-lg btn-outline-danger" 
      [routerLink]="['/users/create']">
      Registrate!
      <span class="fa fa-pencil fa-lg"></span>
    </a>
    <a *ngIf="isLoggedIn" id="btnSignOut"
      class="btn btn-lg btn-outline-danger" 
      (click)="signout()">
      Cerrar sesion!
      <span class="fa fa-sign-out fa-lg"></span> 
    </a>

  </div>

</div>

<div class="container align-middle"> 
  <div class="row marketing justify-content-center"> 
  <!--  <h2>Bienvenido a la app de Gestión de Promotores y sus Obras</h2> -->
    <h5 *ngIf="!isLoggedIn">Para poder acceder has de estar registrado en la aplicación</h5>
  </div>
</div>

<!--
<div class="hero-unit text-center">
  <h1>AVISO</h1>
  
</div>
-->